{% load static %}

<aside class="main-sidebar sidebar-dark-success elevation-4" style="font-size: small;">
  <!-- Brand Logo -->
  <style>
    body {
      font-size: small;
      font-family: Poppins;
    }
  </style>
  <a href="" class="brand-link">
    <img src="{% static 'mw.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text" style="font-size: small;"><b>welcome</b> @{{user.username}}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
   

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- <li class="nav-item">
          <a href="{% url 'patients_database' %}" class="nav-link {% if request.path == '/patients-database/' %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <span>Patients Database</span>
          </a>
        </li> -->
        
      
        <li class="nav-item">
          <a href="{% url 'manage_health_records' %}" class="nav-link {% if request.path == '/manage-health-records/' %}active{% endif %}">
            <i class="nav-icon fas fa-file-medical-alt"></i>
            <span>Manage Health Records</span>
          </a>
        </li>
        

        <li class="nav-item">
          <a href="{% url 'patients_database' %}" class="nav-link {% if request.path == '/patients-database/' %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <span>Request Appointment</span>
          </a>
        </li>
   

        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
        
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
