{% load static %}

<aside class="main-sidebar sidebar-dark-success elevation-4" style="font-size: small;">
  <!-- Brand Logo -->
  <style>
    body {
      font-size: small;
      font-family: Poppins;
    }
  </style>
  <a href="" class="brand-link">
    <img src="{% static 'mw.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-bold" style="font-size: small;">kamuzu central hospital</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
   

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Patients Database -->
        <li class="nav-item">
          <a href="{% url 'patients_database' %}" class="nav-link {% if request.path == '/patients-database/' %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <span>Patients Database</span>
          </a>
        </li>
        
        <!-- Manage Patients -->
        <li class="nav-item">
          <a href="{% url 'manage_patients' %}" class="nav-link {% if request.path == '/manage-patients/' %}active{% endif %}">
            <i class="nav-icon fas fa-user-edit"></i>
            <span>Manage Patients</span>
          </a>
        </li>
        
        <!-- Add Health Records -->
        <li class="nav-item">
          <a href="{% url 'add_medical_record' %}" class="nav-link {% if request.path == '/add-health-records/' %}active{% endif %}">
            <i class="nav-icon fas fa-file-medical"></i>
            <span>Add Health Records</span>
          </a>
        </li>
        
        <!-- Manage Health Records -->
        <li class="nav-item">
          <a href="{% url 'manage_health_records' %}" class="nav-link {% if request.path == '/manage-health-records/' %}active{% endif %}">
            <i class="nav-icon fas fa-file-medical-alt"></i>
            <span>Manage Health Records</span>
          </a>
        </li>
        
        <!-- Manage Doctors -->
        <li class="nav-item">
          <a href="" class="nav-link {% if request.path == '/manage-doctors/' %}active{% endif %}">
            <i class="nav-icon fas fa-user-md"></i>
            <span>Manage Doctors</span>
          </a>
        </li>
        
        <!-- Manage Appointments -->
        <li class="nav-item">
          <a href="" class="nav-link {% if request.path == '/manage-appointments/' %}active{% endif %}">
            <i class="nav-icon fas fa-calendar-check"></i>
            <span>Manage Appointments</span>
          </a>
        </li>
        
        <!-- Manage Prescriptions -->
        <li class="nav-item">
          <a href="{% url 'add_prescription' %}" class="nav-link {% if request.path == '/manage-prescriptions/' %}active{% endif %}">
            <i class="nav-icon fas fa-pills"></i>
            <span>Manage Prescriptions</span>
          </a>
        </li>
        
        <!-- Billing -->
        <li class="nav-item">
          <a href="{% url 'add_billing' %}" class="nav-link {% if request.path == '/manage-billing/' %}active{% endif %}">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <span>Billing</span>
          </a>
        </li>
        
        <!-- Manage Lab Tests -->
        <li class="nav-item">
          <a href="{% url 'add_lab_test' %}" class="nav-link {% if request.path == '/manage-lab-tests/' %}active{% endif %}">
            <i class="nav-icon fas fa-flask"></i>
            <span>Manage Lab Tests</span>
          </a>
        </li>
        
        <!-- Healthcare Providers -->
        <!-- <li class="nav-item">
          <a href="" class="nav-link {% if request.path == '/manage-healthcare-providers/' %}active{% endif %}">
            <i class="nav-icon fas fa-hospital"></i>
            <span>Healthcare Providers</span>
          </a>
        </li> -->
    
        <!-- Logout -->
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
    
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
